@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --noda-soft-base-bg: #fff;
  --noda-soft-blue: #7FAFF6;
  --noda-soft-blue-transparent: #C0DBD9;
  --noda-soft-dark-blue: #0D89B0;
  --noda-soft-dark-blue-transparent: #88B5BF;
  --noda-soft-green: #B3F95A;
  --noda-soft-green-transparent: #8AD191;
  --noda-soft-blue-button: #A5C7F9;
  --noda-soft-black: #1a1a1b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.layout {
  display: flex;
  justify-content: center;
  background-color: var(--noda-soft-base-bg);
  min-height: 100vh;
}

.layout>.content {
  background-color: var(--noda-soft-blue-transparent);
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.layout>.content>div:not(:last-child) {
  margin-bottom: 15px;
}

.test-block-green {
  background-color: var(--noda-soft-green);
  display: grid;
  grid-template-columns: 390px 590px 160px;
  grid-auto-rows: 198px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  overflow-x: scroll;
}

.test-block-green>div {
  background-color: var(--noda-soft-green-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 53px;
  line-height: 62px;
  color: #fff;
}

.test-block-green>div:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.test-block-blue {
  padding: 30px;
  background-color: var(--noda-soft-dark-blue-transparent);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.test-block-blue>div {
  background-color: var(--noda-soft-dark-blue);
  position: relative;
  max-height: 199px;
}

.test-block-blue>div::before {
  content: '';
  display: inline-block;
  padding-bottom: 76.5%;
}

.section {
  background-color: var(--noda-soft-blue);
  height: 100px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.pop-up-button,
button {
  font-size: 20px;
  line-height: 23px;
  background-color: var(--noda-soft-blue-button);
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.pop-up-button:hover {
  filter: brightness(105%);
}

.pop-up-checkbox {
  display: none;
}

.pop-up-checkbox:checked+.pop-up-bg {
  display: flex;
}

.pop-up-bg {
  position: fixed;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pop-up-bg>.pop-up-box {
  width: 30%;
  min-height: 20%;
  height: fit-content;
  max-height: 40%;
  background-color: var(--noda-soft-base-bg);
  color: var(--noda-soft-black);
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
}

.pop-up-bg>.pop-up-box>.pop-up-header {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
}

.pop-up-bg>.pop-up-box>.pop-up-body {
  padding: 15px 0;
  height: 100%;
  text-align: center;
}

.pop-up-bg>.pop-up-box>.pop-up-footer {
  display: flex;
  justify-content: center;
}

.pop-up-bg>.pop-up-box>.pop-up-icon-close {
  display: grid;
  transform: rotate(45deg);
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
  line-height: 15px;
  background-color: var(--noda-soft-blue-transparent);
  border-radius: 50%;
  padding: 5px;
  color: var(--noda-soft-base-bg);
  cursor: pointer;
}

.pop-up-bg>.pop-up-box>.pop-up-icon-close:hover {
  filter: brightness(105%);
}